@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header, footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container {
  width: 1170px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: 'Conv_CrimsonText-Regular';
  src: url("/fonts/CrimsonText-Regular.eot");
  src: local("☺"), url("/fonts/CrimsonText-Regular.woff") format("woff"), url("/fonts/CrimsonText-Regular.ttf") format("truetype"), url("/fonts/CrimsonText-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_CrimsonText-Italic';
  src: url("fonts/CrimsonText-Italic.eot");
  src: local("☺"), url("fonts/CrimsonText-Italic.woff") format("woff"), url("fonts/CrimsonText-Italic.ttf") format("truetype"), url("fonts/CrimsonText-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amsdam Regular';
  src: url("/fonts/Amsdam Regular.eot");
  src: local("☺"), url("/fonts/Amsdam Regular.woff") format("woff"), url("/fonts/Amsdam Regular.ttf") format("truetype"), url("/fonts/Amsdam Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Montserrat-Regular';
  src: url("fonts/Montserrat-Regular.eot");
  src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

header {
  position: fixed;
  background: white;
  z-index: 10;
}

header, footer {
  width: 100%;
  height: 63px;
  color: #d8d8d8;
  text-transform: uppercase;
  font-family: 'Conv_Montserrat-Regular', sans-serif;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container, footer .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #logo, footer #logo {
  color: #616060;
}

header ul, footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 577px;
}

#home {
  margin-top: 73px;
  background: url("../img/bg/home.jpg") no-repeat center bottom;
  background-size: 100%;
  height: 698px;
  color: #d8d8d8;
}

#home h1 {
  border-top: 2px solid #d8d8d8;
  border-bottom: 2px solid #d8d8d8;
  margin: 28px 0;
  padding: 28px 0;
}

#home button {
  padding: 15px 25px;
  background: inherit;
  border: 2px solid #d8d8d8;
  color: #d8d8d8;
}

#home button:hover {
  border-color: #3e3d3d;
  color: #3e3d3d;
  background: #fff;
}

#about {
  color: #3e3d3d;
  padding: 70px 0;
}

#about article {
  background: #fff;
}

#about h2 {
  border-bottom: 2px solid #616060;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

#about p {
  text-align: left;
  margin: 45px 0;
  padding: 0 70px;
}

#about .counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#about .count {
  width: 25%;
  text-align: center;
}

#about .count span {
  font-family: 'Conv_Montserrat-Regular', sans-serif;
  font-size: 45px;
}

#services {
  background: url("../img/bg/services.jpg") center center no-repeat;
  padding: 70px 0;
}

#services h2 {
  border-color: #616060;
}

#services p {
  margin-top: 40px;
  margin-bottom: 75px;
  width: 1020px;
}

#services .card {
  width: 24.5%;
  border: 2px solid #616060;
  text-align: center;
  padding: 55px 35px;
}

#services .card p {
  width: auto;
  margin: 0;
}

#history article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#history .left-col, #history .right-col {
  width: 48%;
}

.card {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 20px;
  top: 0;
  left: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.card:hover {
  color: #fff;
  height: 600px;
}

.card:hover svg {
  fill: #3e3d3d;
  -webkit-transform: scaleY(1.4);
          transform: scaleY(1.4);
  stroke: aqua;
}

.card .content {
  z-index: 2;
  position: relative;
  overflow: hidden;
  height: 65%;
}

.card svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  fill: none;
  stroke: #616060;
  stroke-width: 2px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#team {
  background: url("../img/bg/team.jpg") no-repeat center;
  background-size: 100%;
}

#team article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body {
  font-family: 'Conv_CrimsonText-Regular', serif;
  font-size: 14px;
  color: #616060;
  background: #e3e3e3;
}

article {
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 35px;
  text-align: center;
}

h1 {
  font-family: 'Amsdam Regular', sans-serif;
  font-size: 35,63px;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-family: 'Amsdam Regular', sans-serif;
  font-size: 20px;
  color: #616060;
  text-transform: uppercase;
  border-bottom: 2px solid #616060;
  padding: 28px 0;
}

.subtitle {
  text-align: center;
}

h3 {
  font-family: 'Conv_Montserrat-Regular', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  border: 2px solid #3e3d3d;
  color: #3e3d3d;
  padding: 5px 15px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  border-color: #d8d8d8;
  color: #d8d8d8;
  background: #3e3d3d;
}
/*# sourceMappingURL=style.css.map */